.q{
    background-color: blue;
}
.p{
    background-color: brown;
}
.o{
    background-color: blueviolet;
}
.l{
    background-color: chocolate;
}
#iam{
    background-color: burlywood;
}
#sumi{
    background-color: pink;
}
#egg{
    background-color: brown;
}